<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussion Board</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('routes.index') }}">Home</a></li>
                <li><a href="{{ url_for('routes.books') }}">Books</a></li>
                <li><a href="{{ url_for('routes.search') }}">Search Books/Users</a></li>
                <li><a href="{{ url_for('routes.discussion_board') }}">Discussion Board</a></li>
                <li><a href="{{ url_for('routes.exchange_board') }}">Exchange Board</a></li>

                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('routes.add_book') }}">Add Book</a></li>
                {% endif %}
                <li class="nav-right">
                    {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('routes.create_profile') }}">Create Profile</a>&nbsp;&nbsp;
                        <a href="{{ url_for('routes.main') }}">Login</a>
                    {% else %}
                        <a href="{{ url_for('routes.logout') }}">Logout</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Discussion Board</h1>
        <p>Join the conversation and discuss your favorite books with other users.</p>
        <form method="POST" action="" onsubmit="return validateForm()">
            <div class="form-group">
                <textarea class="form-control" name="content" placeholder="Post a message..."></textarea>
            </div>
            <button class="btn">Post</button>
        </form>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <div class="search-results">
            <h2>Discussion Posts:</h2>
            <ul>
            {% for post in discussion_posts %}
                <li class="search-result">
                    <h3>{{ post.user.username }} - {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</h3>
                    <p>{{ post.content }}</p>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        function validateForm() {
            var content = document.getElementsByName("content")[0].value.trim();
            if (content === "") {
                alert("Please enter a message before posting.");
                return false;
            } else {
                setTimeout(function(){window.location.reload();}, 100);
                return true;
            }
        }
    </script>
</body>
</html>